<li>
  <div class="team-item" data-id=<%= team.id %> data-name="<%= team.name %>">
    <%= team.city%> <%= team.name %>
  <div />
  <button class="btn" id="edit-team">Edit</button>
  <button class="btn" id="delete-team">Delete</button>
</li>