<h2 class = "center"> Teams </h2>
  <hr />
<div class = "row">
  <div class = "col s12 m6">
  <button class = "btn" id="toggle"> Show Form</button>
    <ul id="teams-list">
      <% @teams.each do |team| %>
        <%= render partial: 'team', locals: { team: team } %>
        <% end %> 
    </ul>
  </div>
  <div class = "row" id = "player-list">
  <h3 id = "team">Players on Team </h3>
  <ul id = "players">
    </ul>
  </div>
</div>
  